<! html>
<html data-theme="luxury"></html>
  <head>
    <title>Immi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.14.2/dist/full.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto">
      <div class="grid grid-cols-10 gap-4">
        <div class="col-span-1">
        </div>
        <div class="col-span-8">
          <%= yield %>
        </div>
        <div class="col-span-1">
        </div>
      </div>
    </main>
  </body>
</html>
